In [2]:
import pandas as pd

In [3]:
students = pd.read_csv('/Users/muneebsamad/Desktop/Material/pandas-challenge/PyCitySchools/students_complete.csv')
schools = pd.read_csv ('/Users/muneebsamad/Desktop/Material/pandas-challenge/PyCitySchools/schools_complete.csv')

In [4]:
complete_df = pd.merge(students, schools, how='left', on=['school_name', 'school_name'])

In [5]:
unique_schools = schools['type'].value_counts()

In [6]:
total_sum = unique_schools.sum()
total_sum

15

In [7]:
total_students = students['student_name'].value_counts()
total_students.sum()

39170

In [8]:
total_budget = schools['budget']
total_budget.sum()

24649428

In [9]:
avg_math_score = students['math_score'].mean()
avg_math_score

78.98537145774827

In [10]:
avg_reading_score = students['reading_score'].mean()
avg_reading_score

81.87784018381414

In [11]:
passing_math_count = complete_df[(complete_df['math_score']>=70)].count()['student_name']
passing_math_percentage = passing_math_count /float(total_students.sum()) * 100
passing_math_percentage

74.9808526933878

In [12]:
passing_reading_count = complete_df[(complete_df['reading_score']>=70)].count()['student_name']
passing_reading_percentage = passing_reading_count / float(total_students.sum()) * 100
passing_reading_percentage

85.80546336482001

In [13]:
passing_math_reading_count = complete_df [(complete_df['math_score']>= 70) & (complete_df['reading_score']>=70)].count()['student_name']
overall_passing_rate = passing_math_reading_count/float(total_students.sum()) * 100
overall_passing_rate

65.17232575950983

In [14]:
column_sum =['budget']
schools_summary = {'Total Schools': total_sum,
                   'Total Students': total_students.sum(),
                   'Total Budget' :schools['budget'].sum(),
                   'Average Math Score' : avg_math_score,
                   'Average Reading Score': avg_reading_score,
                   '% Passing Match': passing_math_percentage,
                   '% Passing Reading' : passing_reading_percentage,
                   '% Overall Passing' : overall_passing_rate
                  }
district_summary = pd.DataFrame(schools_summary, index=[0])
schools_summary
#formatting total students and budget to add commas
district_summary['Total Budget'] = district_summary['Total Budget'].map('{:,.2f}'.format)
district_summary['Total Students'] = district_summary['Total Students'].map('{:,}'.format)

In [15]:
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Match,% Passing Reading,% Overall Passing
0,15,"39,170","24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [16]:
#school Summary

In [17]:
school_types = schools.set_index(['school_name'])['type']

In [18]:
per_school_counts = total_students.sum()/total_sum
per_school_counts

2611.3333333333335

In [19]:
per_school_budget = schools['budget'].sum()/total_sum
per_school_capita = schools['budget'].sum()/total_students.sum()

In [36]:
complete_df.groupby('school_name')[['math_score','reading_score']].mean()

                       math_score  reading_score
school_name
Bailey High School      77.048432      81.033963
Cabrera High School     83.061895      83.975780
Figueroa High School    76.711767      81.158020
Ford High School        77.102592      80.746258
Griffin High School     83.351499      83.816757
Hernandez High School   77.289752      80.934412
Holden High School      83.803279      83.814988
Huang High School       76.629414      81.182722
Johnson High School     77.072464      80.966394
Pena High School        83.839917      84.044699
Rodriguez High School   76.842711      80.744686
Shelton High School     83.359455      83.725724
Thomas High School      83.418349      83.848930
Wilson High School      83.274201      83.989488
Wright High School      83.682222      83.955000

In [21]:
students_passing_math = complete_df[complete_df['math_score'] >= 70]
school_students_passing_math = students_passing_math.groupby('school_name')['Student ID'].count()

In [32]:
students_passing_reading = complete_df[complete_df['reading_score'] >= 70]
school_students_passing_reading = students_passing_reading.groupby('school_name')['Student ID'].count()

In [38]:
students_passing_math_and_reading = complete_df[(complete_df['reading_score'] >= 70)
                                                & (complete_df['math_score']>= 70)]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(['school_name'])['Student ID'].count()

In [39]:
per_school_passing_math = (school_students_passing_math / per_school_counts) * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [75]:
per_school_summary = pd.DataFrame({
            
            'Total Students': complete_df['size'],
            'Total School Budget': schools['budget'],
            'Per Student Budget': schools['budget']/schools['size'],
            'Average Math Score':complete_df['math_score'].mean(), 
            'Per School Passing Reading' : per_school_passing_reading,
            'Overall Passing Rate' : overall_passing_rate})

In [76]:
per_school_summary

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Per School Passing Reading,Overall Passing Rate
0,2917.0,1910635.0,655.0,78.985371,NaN,NaN
1,2917.0,1884411.0,639.0,78.985371,NaN,NaN
2,2917.0,1056600.0,600.0,78.985371,NaN,NaN
3,2917.0,3022020.0,652.0,78.985371,NaN,NaN
4,2917.0,917500.0,625.0,78.985371,NaN,NaN
...,...,...,...,...,...,...
Rodriguez High School,NaN,NaN,NaN,78.985371,122.849119,81.146285
Shelton High School,NaN,NaN,NaN,78.985371,64.641307,60.620373
Thomas High School,NaN,NaN,NaN,78.985371,60.926730,56.944090
Wilson High School,NaN,NaN,NaN,78.985371,84.401328,79.193260
Wright High School,NaN,NaN,NaN,78.985371,66.594332,62.267041